.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.mta {
  margin-top: auto;
}

.mba {
  margin-bottom: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#root {
  background-color: #FFF;
  height: 100vh;
  display: flex;
}
